@import '../../styles.scss';

.menu-container {
  height: 100%;
  grid-area: menu-region;
  background-color: $menuBackgroundColor;
  padding: .5rem;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
  position: relative;
  z-index: 5;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
}
